body {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  .turn {
    font-size: 1.5rem;
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  .game button:nth-child(1),
  .game button:nth-child(4) {
    border-right: 0.1rem solid $text-color;
    border-bottom: 0.1rem solid $text-color;
  }
  .game button:nth-child(2),
  .game button:nth-child(5) {
    border-bottom: 0.1rem solid $text-color;
  }
  .game button:nth-child(3),
  .game button:nth-child(6) {
    border-left: 0.1rem solid $text-color;
    border-bottom: 0.1rem solid $text-color;
  }
  .game button:nth-child(7) {
    border-right: 0.1rem solid $text-color;
  }
  .game button:nth-child(9) {
    border-left: 0.1rem solid $text-color;
  }
  .game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 24rem;
    height: 16rem;
    @include mobile {
      min-width: 20rem;
    }
    @keyframes scale {
      to {
        background-size: 3.1rem;
      }
    }
    button {
      background-color: transparent;
      background-position: center;
      background-size: cover;
      background-size: 2rem;
      background-repeat: no-repeat;
      border: none;
      min-height: 3.1rem;
      font-size: 1.9rem;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        border-color: $text-color;
      }
      &.filled {
        cursor: default;
        animation: scale .3s forwards linear;
      }
      &.filled:hover {
        border-color: transparentize($text-color, 0.5);
      }
    }
  }
  a {
    background-color: $bg-color;
    width: 8rem;
    height: 5rem;
    border: 0.1rem solid $text-color;
    background-image: url(../assets/github.png);
    background-position: 3.5rem 3rem;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    position: absolute;
    right: -3rem;
    top: -2rem;
    transform: rotate(45deg);
    cursor: pointer;
    &:hover {
      filter: invert(100%);
    }
  }
  .score {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    gap: 5rem;
    p {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.7rem;
      img {
        width: 1.5rem;
      }
      span {
        font-size: 1.5rem;
      }
    }
  }
}
