body {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    min-width: 24rem;
    height: 16rem;
    @include mobile {
      min-width: 20rem;
    }
    button {
      background-color: transparent;
      background-position: center;
      background-size: cover;
      background-size: 3.1rem;
      background-repeat: no-repeat;
      border: none;
      min-height: 3.1rem;
      font-size: 1.9rem;
      font-weight: bold;
      border: 0.1rem solid transparentize($text-color, 0.5);
      border-radius: 0.2rem;
      cursor: pointer;
      &:hover {
        border-color: $text-color;
      }
      &.filled {
        cursor: default;
      }
      &.filled:hover {
        border-color: transparentize($text-color, 0.5);
      }
    }
  }
  a {
    background-color: $bg-color;
    width: 8rem;
    height: 5rem;
    border: 0.1rem solid $text-color;
    background-image: url(../assets/github.png);
    background-position: 3.5rem 3rem;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    position: absolute;
    right: -3rem;
    top: -2rem;
    transform: rotate(45deg);
    cursor: pointer;
    &:hover {
      filter: invert(100%);
    }
  }
}
